.btn-login{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    font-size: 18px;
    margin-top: 30px;  
    transition: all 0.3s ease-in-out;
    border: 1px solid #00d0ff  ;
    letter-spacing: 5px;
}
.btn-login:hover{
    border: 1px solid #00d0ff  ;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 4px 6px 15px #14388c;
}